doctype 5
html
  head
    meta(charset='UTF-8', content='text/css', http-equiv='Content-Style-Type')
    meta(content='width=device-width, user-scalable=no,minimum-scale=0.5, maximum-scale=1.0', name='viewport')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
    
  body
    block content

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')

    block script