doctype 5
html
  head
    block head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    
  body
    block content

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')

    block script